<!DOCTYPE html>
<html lang="pl">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} | stfu.waw.pl</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script type="text/javascript" src="/static/js/games_netstack/socket.js"></script>
    <script type="text/javascript" src="/static/js/games_netstack/status.js"></script>
    <script type="text/javascript" src="/static/js/games_netstack/room.js"></script>
    {% endblock %}
</head>
<body>
    <div id="nav" class="nav">
        <a href="{{ url_for('routes.dashboard') }}">Strona główna</a>
        <a href="{{ url_for('routes.games') }}">Gry</a>
        {% block nav %}
        {% endblock %}
    </div>
    <div id="main">
        <div id="lobby">
            <div id="lobby_controls">
                <div id="lobby_actions">
                    <input id="create_session_button" type="button" value="nowa gra" onclick="createRoom();">
                </div>
            </div>
            <div id="sessions_list">
                <ul id="sessions">
                </ul>
            </div>
        </div>
        <div id="lobby_players_list">
            <ul id="players_online_list">
            </ul>
        </div>
    </div>
</body>
</html>