<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Centralny Rejestr | stfu.waw.pl</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/cr.css">
</head>
<body>
    <div id="nav_cr" class="nav nav_left">
        <a href="{{ url_for('routes.dashboard') }}">Strona główna</a>
        <a href="{{ url_for('routes.games') }}">Gry</a>
        <a href="{{ url_for('routes.kanos') }}">Kanos</a>
        <a href="#nav_cr" class="active">CR</a>
    </div>
    <div id="user_panel" class="nav nav_right">
        <div id="user_div_content">
            <a class="right-side" href="">{{ current_user.username }}</a>
            <a class="right-side" href="{{ url_for('routes.logout') }}">Wyloguj się</a>
        </div>
    </div>
    <div id="cr_main">
        {% for registry in registries %}
            <a id="registry_{{ registry.registry_id }}" href="cr/registry/{{ registry.registry_id }}">
                {{ registry.registry_name }} {% if registry.private %} 🔒︎ {% endif %}</a>
            <br>
        {% endfor %}
    </div>
</body>
</html>