{% extends "base/session.html" %}
{% block title %}Netopol{% endblock %}
{% block head %}
    {{ super() }}
    <script type="text/javascript" src="/static/js/netopol/render_netopol.js"></script>
{% endblock %}

{% block body %}
    {{ super() }}
    {% block control_panel %}
    <div id="control_panel" class="control_panel">
        <div id="header">
            <div id="header_name"></div>
            <br>
            <div id="operator_username"></div>
            <br>
            <div id="control_panel_pages">
                <input id="cp_page_settings" type="radio" name="cp_pages" onclick="changePage();">
                <label for="cp_page_settings">Ustawienia</label>
                <script>
                    document.getElementById("cp_page_settings").checked = true;
                </script>
                <input id="cp_page_players_list" type="radio" name="cp_pages" onclick="changePage();">
                <label for="cp_page_players_list">Lista graczy</label>
            </div>
        </div>
        <div id="control_panel_content">
            <form id="settings" action="">
                <input id="is_private" type="checkbox" onclick="changeSettings();">
                <label for="is_private">prywatny</label>
                <br>
                <input id="is_visible" type="checkbox" onclick="changeSettings();">
                <label for="is_visible">widoczność w lobby</label>
                <br>
                <select id="time" name="time" onchange="changeSettings();">
                    <option value="1">1</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15" selected>15</option>
                    <option value="30">30</option>
                    <option value="60">60</option>
                    <option value="∞">∞</option>
                </select>
                <label for="time">czas na grę (min)</label>
                <br>
                <input id="is_sound" type="checkbox">
                <label for="is_sound">dźwięki</label>
                <br>
                <select id="players_number" name="players_number" onchange="changeSettings();">
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6" selected>6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <label for="players_number">ilość graczy</label>
            </form>

            <div id="players_list" hidden>
                <ul id="players_list_content">
                </ul>
            </div>
        </div>
    </div>
    {% endblock %}
{% endblock %}
