<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>Netopol</title>
</head>
<body>
    <div id="nav_netopol" class="nav">
        <a href="../index.html">Strona główna</a>
        <a href="#nav_netopol" class="active">Netopol</a>
    </div>
    <div id="main">
        <div id="lobby">
            <div id="lobby_controls">
                <form name="create_session" action="" method="post">
                    <input id="create_session_button" type="submit" value="nowa gra">
                </form>
            </div>
            <ul id="sessions">
            {% for session in sessions %}
                <li><a href="/game.html/{{ session }}">#{{ session }}</a></li>
            {% endfor %}
            </ul>
        </div>
        <div id="players_list">
            Test
        </div>
    </div>
</body>
</html>