<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>Panel główny | stfu.waw.pl</title>
</head>
<body>
    <div id="nav_index" class="nav nav_left">
        <a href="#nav_index" class="active">Strona główna</a>
        <a href="{{ url_for('routes.games') }}">Gry</a>
        <a href="{{ url_for('routes.kanos') }}">Kanos</a>
        <a href="{{ url_for('routes.central_registry') }}">CR</a>
    </div>
    <div id="user_panel" class="nav nav_right">
        <div id="user_div_content">
            <a class="right-side" href="">{{ current_user.username }}</a>
            <a class="right-side" href="{{ url_for('routes.logout') }}">Wyloguj się</a>
        </div>
    </div>
</body>
</html>