<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{{ game_name }} | stfu.waw.pl</title>
    <script>
        var gameName = null;
        window.onload = function() {
            var pathname = window.location.href;
            var startIndex = pathname.indexOf("game") + 5;
            var endIndex = pathname.indexOf("/", startIndex);
            gameName = pathname.substring(startIndex, endIndex);
            var a = document.getElementById("back_to_lobby");
            a.href = "/game/" + gameName + "_lobby";
        };
    </script>
</head>
<body>
    <div>Zostałeś wyrzucony z gry!</div>
    <a id="back_to_lobby" href="{{ url_for('routes.game_lobby', game_name='') }}">Powrót do lobby</a>
</body>
</html>