<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>Logowanie | stfu.waw.pl</title>
</head>
<body>
    <div id="auth_window">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <form name="login_form" action="" method="post">
            <label for="email">Adres email:</label>
            <br>
            <input id="email" class="login" type="text" name="email" placeholder="login" maxlength="16">
            <br>
            <label for="password">Hasło:</label>
            <br>
            <input id="password" class="login" type="password" name="password" placeholder="hasło" maxlength="48">
            <br>
            <input id="sign_in" class="login_button" type="submit" name="sign_in" value="Zaloguj się">
        </form>
        <br>
        <a href="{{ url_for('routes.register') }}" class="button">Zarejestruj się</a>
    </div>
</body>
</html>