<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>Rejestracja</title>
</head>
<body>
    <div id="auth_window">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <form name="register_form" action="" method="post">
                <label for="email">Adres email:</label>
                <br>
                <input id="email" class="login" type="text" name="email" placeholder="email" maxlength="48">
                <br>
                <label for="username">Nazwa użytkownika:</label>
                <br>
                <input id="username" class="login" type="text" name="username" placeholder="nazwa użytkownika" maxlength="16">
                <br>
                <label for="password">Hasło:</label>
                <br>
                <input id="password" class="login" type="password" name="password" placeholder="hasło" maxlength="64">
                <br>
                <label for="repeat_password">Powtórz hasło:</label>
                <br>
                <input id="repeat_password" class="login" type="password" name="repeat_password" placeholder="hasło" maxlength="64">
                <br>
                <input id="sign_in" class="login_button" type="submit" name="sign_in" value="Zarejestruj się">
        </form>
        <br>
        <label for="register_button">Masz konto:</label>
        <a id="register_button" href="{{ url_for('routes.login') }}" class="button">Zaloguj się</a>
    </div>
</body>
</html>